In [ ]:
Introduction to List datatype:

In [4]:
#Definition : Collection of items in a particular order
#Classification : Mutable
#How to define==> []

numbers = ['one','two','three','four','five','six','seven','eight','nine','ten']
print(numbers)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [5]:
type(numbers)

list

In [ ]:
#Introduction to indexing : 0,1,2,3,4,5,6,7,8...........
#display number four in the output

In [13]:
print(numbers[3])

four

In [15]:
print(numbers[3].title())

Four

In [16]:
#No.7 on the output

print(numbers[6])

seven

In [ ]:
# 1. How to Add new elements in the list

In [18]:
#Wanted to add Eleven in the list

numbers.append('eleven')

In [19]:
print(numbers)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven']

In [21]:
#Another example add twele in the list

numbers.append('twele')

In [22]:
print(numbers)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twele']

In [25]:
#Add thirteen in the 3rd position

numbers.insert(2,'thirteen')

In [26]:
print(numbers)

['one', 'two', 'thirteen', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twele']

In [27]:
print(numbers[2])

thirteen

In [28]:
print(numbers[2].upper())

THIRTEEN

In [ ]:
#2. How to edit/alter elements in the list

In [29]:
print(numbers)

['one', 'two', 'thirteen', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twele']

In [ ]:
#Req: need to change Thirteen to Fourteen

In [34]:
numbers[2] = 'Fourteen'

In [48]:
print(numbers)

['one', 'two', 'Fourteen', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twele']

In [38]:
#3. How to delete elements in the list
# 2 types of deletion :  1. Temporary (Pop) 2. Permanent
# POP : It will be creating a carbon copy of the deleted item and storing the value that has been assigned to it.
#Note: By default it will delete last element from the list

In [49]:
#Req: need to delete no. three from the list

delete1 = numbers.pop(3)

In [50]:
print(numbers)

['one', 'two', 'Fourteen', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twele']

In [51]:
print(delete1)

four

In [ ]:
# Req: need to delete Fourteen from the list - Permanant deletion

In [52]:
del numbers[2]

In [53]:
print(numbers)

['one', 'two', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twele']

In [55]:
#Interview questions:
#1. Explain the difference between append and insert in list.
#2. Explain the difference between pop and delete methods in a list.